/* body {
    background-color: #ffa261;
  }

.tab-buttons {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8;
    margin: 12px;
  } */ 
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    margin: 0;
  }

  .tab-buttons-red {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a30a0a;
  }
  
  .tab-buttons-red:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ff0000;
    padding: 8px;
    margin: 12px;
  }

  .tab-buttons-orange {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons-orange:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8px;
    margin: 12px;
  }

  .tab-buttons-yellow {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons-yellow:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8px;
    margin: 12px;
  }

  .tab-buttons-green {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons-green:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8px;
    margin: 12px;
  }

  .tab-buttons-blue {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons-blue:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8px;
    margin: 12px;
  }

  .tab-buttons-purple {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons-purple:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8px;
    margin: 12px;
  }
  