body {
    border-radius: 10px;
    background-color: #ffa261;
    margin: 13px;
    padding: 10px;
  }

.tab-buttons {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #c50;
  }
  
  .tab-buttons:hover {
    color: black;
    text-decoration: underline;
    font-size: 30px;
    background-color: #ed6c11;
    padding: 8;
    margin: 12px;
  }